body{
    /* background-color: rgb(46 185 46); */
    text-align: center;
    /* background-image: url("whatsapp-logo-png-2268.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: center;
    background-position-y: auto; */
    
}

.img{
    content: "";
    background: url("whatsapp-logo-png-2268.png");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;    
}
.header{
    margin-top: -30px ;
    padding-top: -30px;
    font-size: 30px;
    /* background-color: red; */
    /* border: 2px dashed rgb(46 185 46);
    border-radius: 30px; */
}


.middle{
    margin: auto 20%;
    padding: 40px;
    font-family:'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: bold;
    border: 2px dashed rgb(46 185 46);
    border-radius: 30px;
}

#submit_button{
    display: block;
    margin: 20px auto 0;
    font-size: 20px;
    width: 150px;
    height: 40px;
    border: 1px dotted rgb(46 185 46);
    border-radius: 10px;
}

#submit_button:hover{
    background-color: rgb(46 185 46);
}